parameters:
  level: 5
  paths:
    - src
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
        - '#is never assigned int so it can be removed from the property type#'
        - '#curl_setopt expects#'